.mybutton {
  background-color: rgba(119, 135, 153, 1);
  border: solid 3px rgba(255, 255, 255, 1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 76px;
  height: 27px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.mybutton:hover, .mybutton.active {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(119, 135, 153, 1);
}
