div {
 color: #FFFFFF;
font-family: Arial, Helvetica, serif;
font-style: normal;
cursor: none;

}
p {
font-family: 'Helvectica Neue', Helvetica, serif;
font-style: normal;
line-height: 13pt;
font-size: 8pt;
margin: 3px;
}
h3 {
font-family: 'Helvectica Neue', Helvetica, serif;
font-style: normal;
color: #dddddd;
/* 
line-height: 13pt;
 */
font-size: 16pt;
margin: 3px;
margin-left: 200px;
}
h4 {
font-family: 'Helvectica Neue', Helvetica, serif;
font-style: normal;
line-height: 13pt;
font-size: 10pt;
color: #666;
margin: 3px;
margin-top: 10px;
}

.male {
color: #000066;
}
.female {
color: #006633;
}

.headline {
    position: absolute;
  padding: 5px 0px 5px 30px;
  top:0;
  left: 0;
  width: 100%;

}
a {
  color: #6495ED;
}
#readout {
      position: absolute;
        background-color: rgba(233,233,233,0.9);
  z-index: 100;
  top:-200px;
  left: -200px;
  width: 200;
  height: 200px;
  padding:15px;
  line-height: 22px;
  color: #333333;
  font-size: 11px;
  visibility: hidden;
}
#zreadout {
      position: absolute;
        background-color: rgba(233,233,233,0.8);
  z-index: 100;
  top:40px;
  left: 60px;
  width: 500px;
  height: 500px;
  padding:15px;
  line-height: 22px;
  color: #333333;
  font-size: 11px;
    visibility: hidden;

}
#footer {
      position: absolute;
background-color: rgba(33,33,33,0.8);
  z-index: 101;
  bottom:0px;
  left: 0px;
  width: 100%;
  height: 50px;
  padding: 15px;
/* 
  text-align: center;
 */
  line-height: 22px;
  color: #333333;
  font-size: 13px;
}
