/*foreground*/

.c-1,
.black {
    color: Black;
}

.c-2,
.dark-gray {
    color: DarkGray;
}

.c-3,
.light-gray {
    color: LightGray;
}

.c-4,
.white {
    color: White;
}

.c-5 {
    color: Crimson;
}

.c-6,
.royal-blue {
    color: RoyalBlue;
}

.c-7,
.lime-green {
    color: LimeGreen;
}

.c-8 {
    color: DeepPink;
}

.c-9 {
    color: Aquamarine;
}

.c-10 {
    color: Gold;
}

.c-11 {
    color: DarkOrange;
}

.c-12 {
    color: Navy;
}


/*background*/

.bg-1 {
    background-color: Black;
}

.bg-2 {
    background-color: DarkGray;
}

.bg-3 {
    background-color: LightGray;
}

.bg-4 {
    background-color: White;
}

.bg-5 {
    background-color: Crimson;
}

.bg-6 {
    background-color: RoyalBlue;
}

.bg-7 {
    background-color: LimeGreen;
}

.bg-8 {
    background-color: DeepPink;
}

.bg-9 {
    background-color: Aquamarine;
}

.bg-10 {
    background-color: Gold;
}

.bg-11 {
    background-color: DarkOrange;
}

.bg-12 {
    background-color: Navy;
}