/* foreground */

.c-1, .midnight-blue { 
  color: MidnightBlue
}
.c-2, .slate-grey { 
  color: SlateGrey
}
.c-3, .steel-blue { 
  color: SteelBlue
}
.c-4, .sea-green { 
  color: SeaGreen
}
.c-5, .lime-green { 
  color: LimeGreen
}
.c-6, .red { 
  color: Red
}
.c-7, .marron { 
  color: Maroon
}
.c-8, .golden-rod { 
  color: GoldenRod
}
.c-9, .dim-grey { 
  color: DimGrey
}
.c-10, .tan { 
  color: Tan
}
.c-11, .white { 
  color: White
}
.c-12, .black { 
  color: Black
}

/* background */
.bg-1 { color: MidnightBlue }
.bg-2 { color: SlateGrey }
.bg-3 { color: SteelBlue }
.bg-4 { color: SeaGreen }
.bg-5 { color: LimeGreen }
.bg-6 { color: Red }
.bg-7 { color: Maroon }
.bg-8 { color: GoldenRod }
.bg-9 { color: DimGrey }
.bg-10 { color: Tan }
.bg-11 { color: White }
.bg-12 { color: Black }
