/*undp final*/
/*barbara compagnoni*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic);

body{
   margin: 0;
   background: #3D3D3D;
}
#header{
   width: 100%;
   height: 100px;
   background: #1B1B1B;
   border-width: 0 0 1px;
   border-style: solid;
   color: rgba(255, 255, 255, 0.8);
   font-family: 'Roboto', sans-serif;
}

#filter-master{
  width: 100%;
  height: 30px;
  float: left;
}
#filters{
  position: absolute;
  background-color: #1B1B1B;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  margin-left:22px;
  width: 40%;

}
#pulldowns{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
  margin-left: 73%;
  width: 40%;

}


#header h1{
   margin: 0;
   padding-top: 10px;
   padding-left: 20px;
   font-family: 'Roboto', sans-serif;
   font-weight: 100;
   font-size: 30px;
   color: rgba(255, 255, 255, 0.8);
}
#header p{
   margin: 0;
   padding-top: 5px;
   padding-left: 20px;
   font-family: 'Roboto', sans-serif;
   font-weight: 100;
   font-size: 12px;
   font-style: italic;
   /*text-decoration: underline;*/
   color: rgba(255, 255, 255, 0.8);
}
a {
   font-family: 'Roboto', sans-serif;
   font-weight: 100;
   font-size: 12px;
   font-style: italic;
   color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

span.underline {
   margin-top: -2px;
   margin-left: 20px;
   font-size: 10px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.8);
   display:block;
}

#value{
  visibility: hidden;
  height: 0;
}

#sortValue{
  visibility: hidden;
  height: 0;
}



input[type=checkbox].css-checkbox {
  position:absolute;
  z-index:-1000;
  left:-1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px; width:1px;
  margin:20px;
  padding-left: 20px;
  border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:20px;
  padding-right: 5%;
  height:15px;
  display:inline-block;
  line-height:15px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;

  }

input[type=checkbox].css-checkbox:checked + label.css-label {
   background-position: 0 -15px;
 }

#cLabel {
  background-image:url(images/centralCkBox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

#sLabel {
  background-image:url(images/southCkBox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

#nLabel {
  background-image:url(images/northCkBox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

#wLabel {
  background-image:url(images/westCkBox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

#eLabel {
  background-image:url(images/eastCkBox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}


.styled-select {
  color: #1B1B1B;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 13px;
  overflow: hidden;
  background: url('images/down_arrow_select.png') no-repeat right rgba(255, 255, 255, 0.8);
}

select{
  margin-left: 5%;
  margin-right: 1%;
  background: transparent;
  width: 175px;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  height: 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

option{
  font-family: 'Roboto', sans-serif;
  border: 0;
  /*border-radius: 5px;*/
}
