container {
  overflow: hidden;
}

.canvas {
  z-index: 10;
}

.title {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 24pt;
  color: black;
  z-index: 15;
  font-family: "Minion Pro";
  font-weight: bold;
  width: 90%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}
.button {
  position: absolute;
  top: 75px;
  font-size: 8pt;
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  z-index: 15;
  font-family: "Myriad Pro";
}

#gni {
  right: 70px;
  width: 120px;
  height: 30px;
}

#le {
  right: 200px;
  width: 120px;
  height: 30px;
}

#edu {
  right: 330px;
  width: 120px;
  height: 30px;
}