
.topbar {
      position: absolute;
  z-index: 100;
  top:0;
  left: 0;
  padding:10px;
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
color: #988366;

}

.header {
    letter-spacing: 3px;
font-size: 20pt;

}

.tagline {
font-size: 13pt;
}
#regions {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;

  padding-top:15px;
  
  font-size: 12pt;
  visibility: hidden;


/*font-size: 10px;*/
}
p {
   font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;

  margin-top: 5px;
font-size: 15px;
margin-left: 15px;
  
}

.central {
 color: DarkGoldenRod;
}
.eastern {
 color: SeaGreen;
}
.southern {
 color: MidnightBlue;
}
.western {
 color: Maroon;
}
.northern {
 color: SteelBlue;
}

.headline {
  padding: 5px 0px 5px 30px;

}
a {
  color: #6495ED;
}


#popupInfo {
      position: absolute;
         background-color: #FFFFFF; 
  z-index: 110;
  bottom:300px;
  right: 300px;
  width: 150px;
  padding:5px;
  /*height: 70px;*/
  /*overflow: scroll;*/
  font-family: 'Roboto', sans-serif;
    border: 1px solid;
    border-color: DarkGoldenRod;
    border-radius: 10px;
  line-height: 20px;
  color: #333333;
  font-size: 12px;
  visibility: hidden;
}
.dropup {
/*background: #484832;*/
/*z-index:130;*/
/*position:absolute;*/
/*bottom: 20px;*/
/*left: 200px;*/
/*width: 100%;*/
/*margin: auto;*/
}
#XAXIS {
  z-index:130;
position:absolute;
bottom: 20px;
left: 10%;
visibility: hidden;

}
#YAXIS {
  z-index:131;
position:absolute;
bottom: 20px;
right: 5%;
visibility: hidden;

}

.btn {
    padding: 8px 24px;
    border: 0 none;
    /*font-weight: 700;*/
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
        background: #D8B990;
}
 
.btn-default {
    /*background: Tan;*/
    /*background: rgba(210,180,140,100);*/
    background: #988366;
    color: white;
        border: 0 none;

      font-family: 'Roboto', sans-serif;
      font-weight: 500;
}
 
.btn-default:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #D8B990;
}
 
.btn-default:active, .btn-primary.active {
    background: #D8B990;
    box-shadow: none;
}


